@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5fa7ef;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}